<!DOCTYPE html>
<html>
    <head>
        <title>GCSEPod Calculator</title>
        <link href="styles.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="text-center">GCSEPod Calculator App</h1>
        <div id="app" class="calculator">
            <span class="calculator__display">{{ value }}</span>
                <div class="calculator__inputs">
                <div class="calculator__number-buttons">
                    <button class="calculator__button"
                        v-for="number in 10"
                        :accesskey="buttonVal(number)"
                        @click="input(buttonVal(number))"
                    >{{ buttonVal(number) }}</button>
                </div>
                <div class="calculator__function-buttons">
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="C"
                        @click="input('C')"
                    >C</button>
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="+"
                        @click="input('+')"
                    >+</button>
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="-"
                        @click="input('-')"
                    >-</button>
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="*"
                        @click="input('*')"
                    >*</button>
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="/"
                        @click="input('/')"
                    >/</button>
                    <button
                        class="calculator__button calculator__button--function"
                        accesskey="="
                        @click="input('=')"
                    >=</button>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="calc.js"></script>
    </body>
</html>
